<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Contrôle Système</title>
</head>
<body>
    
    
    <div id="left">
        <button id="shutdown">Eteindre</button>
        <button id="wir">Afficher les applications ouvertes</button>
        <button id="taskkill">Ferme une applications</button>
    </div>
    
    <div id="right">
        <div id="wir_window">
            <ul id="processList"></ul>
        </div>
        <div id="shutdown_window">
            <div class="container">
                <button class="switch" id="shutdown" onclick="shutdown(this)">
                    <span>On</span>
                    <span>Off</span>
                    <div class="status"></div>
                </button>
            </div>
        </div>
        <div id="taskkill_window">
            <div class="container">
                <div class="content">
                    <div class="box">
                        <p>PID</p>
                        <div class="input-center">
                            <input type="text" placeholder="pid" type="number" id="taskkill_input">
                        </div>
                    </div>
                    <div class="box">
                        <p>Nom</p>
                        <span id="taskkill-name"></span>
                    </div>
                    <div class="box">
                        <p>Titre</p>
                        <span id="taskkill-title"></span>
                    </div>
                    <button id="taskkill_close_app_button" onclick="closeApp(this)">Fermer l'application</button>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
<script src="{{ url_for('static', filename='script.js') }}"></script>